DJANGO_SECRET_KEY=your-django-secret-key
DEBUG=True

POSTGRES_DB=yourdbname
POSTGRES_USER=yourdbuser
POSTGRES_PASSWORD=yourdbpassword
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

AWS_ACCESS_KEY_ID=your-aws-access-key
AWS_SECRET_ACCESS_KEY=your-aws-secret-key
AWS_STORAGE_BUCKET_NAME=your-bucket-name
AWS_S3_REGION_NAME=us-east-1
AWS_S3_FILE_OVERWRITE=FALSE
AWS_DEFAULT_ACL=
AWS_S3_VERIFY=True