body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(147deg,rgba(66, 66, 66, 1) 0%, rgba(54, 54, 54, 1) 13%, rgba(33, 33, 33, 1) 27%, rgba(0, 0, 0, 1) 69%);
  min-height: 100%;
  min-height: 100vh;
  background-repeat: repeat-y;
  background-attachment: fixed;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
